{% extends "layout.html" %}
{% block body %}
{% from "_formhelpers.html" import render_field %}
<form method=post>
  <dl>
    {{ render_field(form.password) }}
    {{ render_field(form.confirm) }}
  </dl>
  <p><input type=submit value='Generate password hash'>
</form>
<p>
Complexity rules that will be enforced:
<ul>
<li>Password needs at least one lowercase character
<li>Password needs at least one uppercase character
<li>Password needs at least one digit
<li>Password needs at least one of the special chars !@#$%&*()
</ul>
</p>
{% endblock %}
